.git
node_modules
vendor
storage/*.key
.env
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
/public/build
/public/hot
/public/storage
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
